.primary-nav {
    margin-top: 10px;
    
    @mixin atMedium {
        margin-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        @mixin clearfix;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 20px;
        padding: 7px;

        @mixin atMedium {
            float: left;
            display: block;
            padding: 12px;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
           padding-right: 20px;
        }
    }

    a {
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        padding: 5px 8px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .7);

        @mixin atMedium {
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
        }

        &.is-current-link {
            color: #fabb69;
        }
    }
}