.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    transition: background-color .3s ease-out;

    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }

    @mixin atMedium {
        position: fixed;
        background-color: rgba($mainBlue, .3);
        transition: background-color 0.7s ease-out;

        &--dark {
            background-color: rgba(23, 51, 72, .8);
            transition: background-color 0.7s ease-out;
        }
    }

    &__button-container {
        @mixin atMedium {
            float: right;
        }
    }    

    &__logo {
        position: absolute;
        background-color: $mainBlue;
        padding: 20px 30px 25px 36px;
        top: 0;
        left: 50%;
        transform-origin: 50% 0;
        transform: translateX(-50%) scale(0.8);

        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            transition: transform 0.4s ease-out;

            .site-header--dark & {
                transform: scale(.582)
            }
        }
    }

    &__logo__graphic {
        text-indent: -9999px;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        @mixin atMedium {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 0;
            transition: transform .4s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: all .4s ease-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 100%;
            transition: transform .4s ease-out;
        }
    }

    &__menu-icon--close {
        &::before {
            transform: rotate(45deg) scaleX(1.2);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.2) translateY(1px);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
    }

    &__menu-content {
        opacity: 0;
        padding-top: 100px;
        z-index: -10;
        transform: scale(1.2);
        position: relative;
        text-align: center; 
        transition: all .3s ease-out;

        @mixin atMedium {
            display: block;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
            opacity: 1;
        }

        &--is-visible {
            transform: scale(1);
            opacity: 1;
            z-index: 1;
        }
    }
}